<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <table>
        <tr>
            <td colspan="2">Lista alunos e cursos</td>
            <tr>
                <th>Nome</th>
                <th>Curso</th>
            </tr>
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.nomePessoa}"></td>
                <td th:text="${aluno.nomeCurso}"></td>
            </tr>
    </table>
    <a href="/home">Voltar</a>
</body>
</html>