<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 id="main-title">Sistema Escolar</h1>
            <div class="links-container">
                <h3><a href="/alunos/listar">📚 Gerenciar Alunos</a></h3>
                <h3><a href="/cursos/listar">🎓 Gerenciar Cursos</a></h3>
                <h3><a href="/cidades/listar">🏙️ Gerenciar Cidades</a></h3>
                <h3><a href="/alunos/listar-nome-telefone">📞 Telefones</a></h3>
                <h3><a href="/alunos/listar-aluno-curso">👥 Aluno-Curso</a></h3>
            </div>

            <form action="/login" method="get">
                <button type="submit">Logout</button>
            </form>

        </div>
</body>
</html>