<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <h1 id="main-title">Sistema Escolar</h1>
    <div class="divs-container"></div>
    <h3><a href="/alunos/listar">Gerenciar Alunos</a></h3>
    <h3><a href="/cursos/listar">Gerenciar Cursos</a></h3>
    <h3><a href="/cidades/listar">Gerenciar Cidades</a></h3>
    <h3><a href="/alunos/listar-nome-telefone">Gerenciar telefone de aluno</a></h3>
    <h3><a href="/alunos/listar-aluno-curso">Gerenciar Aluno-Curso</a></h3>
</div>
</body>
</html>