<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <style>
        botao {
            margin-top: 15px;
            display: inline-flex;
            flex-direction: column;
        }
    </style>
    
        <div>
            <h1>Acesso ao sistema</h1>
            <form method="post" th:action="@{/login}">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username"/>
                <br>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password"/>
                <br>
                <div class="botao">
                    <input type="submit" value="Entrar" class="btn"/>
                    <br>
                    <a href="/usuarios/criar" class="btn">Cadastrar</a>
                </div>
                
            </form>
            <p th:if="${param.error}">Usuário ou senha inválidos.</p>
            <p th:if="${param.logout}">Você saiu com sucesso.</p>

            <form action="/home" method="get">
                <button type="submit">Voltar para home</button>
            </form>
        </div>
</body>
</html>